.container button {
  border: none;
  background: none;
}
#slides {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-size: contain;
}
.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 2s;
}
.showing {
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.slide:nth-of-type(1) {
  background: url("../image/slider/slide1.jpg") no-repeat center top;
}
.slide:nth-of-type(2) {
  background: url("../image/slider/slide2.jpg") no-repeat center top;
}
.slide:nth-of-type(3) {
  background: url("../image/slider/slide3.jpg") no-repeat center top;
}
.slide:nth-of-type(4) {
  background: url("../image/slider/slide4.jpg") no-repeat center top;
}
.slide:nth-of-type(5) {
  background: url("../image/slider/slide5.jpg") no-repeat center top;
}
.controls {
  position: relative;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.controls:hover,
.controls:focus {
  outline: none;
  border: none;
}
.container:hover .controls {
  opacity: 1;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
